<h2 style="margin-top: 10px">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <% resource.build_person %>
  <%= f.fields_for :person do |p| %>
    <div class="field">
      <%= p.label :name %><br />
      <%= p.text_field :name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= p.label :last_name %><br />
      <%= p.text_field :last_name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= p.label :birthday %><br />
      <%= p.date_field :birthday, class: 'form-control' %>
    </div>

  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="actions" style="margin-top: 10px">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
