<div style="padding-top: 10px">
  <div class="card" style="width: 18rem;">
    <%= image_tag(@profile.person.avatar.url, alt: 'Image', class: 'card-img-top') if @profile.person.avatar? %>
    <div class="card-body">
      <h5 class="card-title">
        <%= @profile.person.name %> <%= @profile.person.last_name %>
      </h5>
      <p class="card-text">
        Email: <%= @profile.email %>
        <br>
        Fecha de nacimiento: <%= @profile.person.birthday %>
      </p>
      <%= form_for @profile.person do |f| %>
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
          <%= f.submit class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>