<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-link' %> |
<%= link_to 'Back', companies_path, class: 'btn btn-link' %>
