<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <h1>Subscriptions</h1>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Seguidores</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><% @subscriptions.each do |subs| %>
          <%= subs.subscriber.person.name %> sigue a:
          <%= subs.user.person.name %>
        <% end %></td>
    </tr>
  </tbody>
</table>


<br>
