<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <% if is_new %>
      <%= form.text_field :title, class: 'form-control' %>
    <% else %>
      <input type="text" name="post[title]" id="post_title" class="form-control" value="<%= post.title %>">
    <% end %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <% if is_new %>
      <%= form.text_area :content, class: 'form-control' %>
    <% else %>
      <textarea type="text" name="post[content]" id="post_content" class="form-control"><%= post.content %></textarea>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <% if is_new %>
      <%= form.text_field :tags, class: 'form-control' %>
    <% else %>
      <input type="text" name="post[tags]" id="post_tags" class="form-control" value="<%= post.tags %>">
    <% end %>
  </div>

  <div class="field">
    <%= form.label :category_ids %>
      <%= form.collection_select :category_ids, @categories || [], :id, :name, {}, { :multiple => true, class: 'form-control' } %>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="post[postable_type]" id="userRadio" value="User" checked>
    <label class="form-check-label" for="userRadio">
      Publicar como usuario
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="post[postable_type]" id="companyRadio" value="Company">
    <label class="form-check-label" for="companyRadio">
      Publicar como compañía
    </label>
  </div>

  <div class="field" id="companiesSelect">
    <%= form.label :company_id %>
    <%= select_tag "company_id", options_from_collection_for_select(@companies || [], "id", "name"), class: 'form-control' %>
  </div>

  <div class="actions" style="margin-top: 10px">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
