<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <h1>Posts</h1>
  </div>
  <div class="col text-right">
    <%= link_to 'New Post', new_post_path, :class => "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Tags</th>
      <th>By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.tags %></td>
        <th>
          <% if post.postable_type == 'User' %>
            <%= post.user.person.name %> <%= post.user.person.last_name %>
          <% else %>
            <%= post.company.name %>
          <% end %>
        </th>
        <td><%= link_to 'Show', post, :class => "btn btn-warning" %></td>
        <td><%= link_to 'Edit', edit_post_path(post), :class => "btn btn-info" %></td>
        <td><%= link_to 'Destroy', post, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
