<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<ul class="list-group" style="margin-top: 10px;">
  <li class="list-group-item active">
    <strong>Title:</strong>
    <%= @post.title %>
    <div style="float: right">
      <%= form_for @sub_user, remote: true do |f| %>
        <%= f.hidden_field :user_id, :value => @post._id %>
        <%= f.submit class: 'btn btn-warning' %>
      <% end %>
    </div>
  </li>
  <li class="list-group-item">
    <strong>Content:</strong>
    <%= @post.content %>
  </li>
  <li class="list-group-item">
    <strong>Tags:</strong>
    <%= @post.tags %>
  </li>
  <li class="list-group-item">
    <strong>By:</strong>
    <% if @post.postable_type == 'User' %>
      <%= @post.user.person.name %> <%= @post.user.person.last_name %>
    <% else %>
      <%= @post.company.name %>
    <% end %>
  </li>

  <li class="list-group-item">
    <% @post.categories.each do |category| %>
      <span class="badge badge-warning"><%= category.name %></span>
    <% end %>
  </li>

</ul>

<div class="container">
  <div class="row">
    <button id="btnComment" class="btn btn-info" style="margin: 20px 0 20px 0;">Agregar comentario</button>
  </div>

  <div class="row">
    <div id="createComment" style="margin: 10px 0 10px 0;">
      <form action="/comments" method="post" id="new_comment">
        <input type="hidden" name="comment[post_id]" value="<%= @post.id %>" id="comment_post_id">
        <div class="form-group">
          <label for="comment_content">Comentario</label>
          <textarea name="comment[content]" class="form-control" id="comment_content"></textarea>
        </div>
        <div class="form-group">
          <input type="file" name="content[image]" id="comment_image">
        </div>
        <button type="submit" class="btn btn-success">Comentar</button>
      </form>
    </div>
  </div>
</div>

<div id="comments">
  <% @post.comments.order("created_at desc").each do |comment| %>
    <div class="card">
      <div style="max-width: 80px;">
        <%= image_tag(comment.image.url, alt: 'Image', class: 'card-img-top') if comment.image? %>
      </div>
      <div class="card-header">
        Comentado por: <%= comment.user.person.name %> <%= comment.user.person.last_name %>
      </div>
      <div class="card-body">
        <%= comment.content %>
        <div class="badge badge-secondary" style="float: right;">
          <%= comment.created_at %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-link' %> |
<%= link_to 'Back', posts_path, class: 'btn btn-link' %>
