<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category, class: 'btn btn-warning' %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', category, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, class: 'btn btn-success' %>
