<p id="notice"><%= notice %></p>

<ul class="list-group">
  <li class="list-group-item">
    <strong>Name:</strong>
    <%= @category.name %>
  </li>
</ul>

<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-link' %> |
<%= link_to 'Back', categories_path, class: 'btn btn-link' %>
