  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <%= link_to 'Home', posts_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to 'Profile', people_path, class: "dropdown-item" %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <% if can? :create, Category %>
          <%= link_to 'Categories', categories_path, class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if can? :create, Company %>
          <%= link_to 'Companies', companies_path, class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if can? :create, Subscription %>
          <%= link_to 'Followers', subscriptions_path, class: 'nav-link' %>
        <% end %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>